<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=S, initial-scale=1.0">
    <title>SI Consult</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<!-- {% extends "base/base" %}

{% block content %} -->
    <section class="content">
        <div class="dropdown-icon">
            <button class="openbtn" onclick="opendropdown()">
                <img src="/static/images/dropdown_icon.png" alt="">
            </button>
        </div>
        <div class="dropdown">
            <button class="dropbtn" onclick="closedropdown()">
                <img src="/static/images/close icon.png" alt="">
            </button>
            <div class="dropdown-content">
                <a href="/templates/careers/careers.html">Обяви за работа</a>
                <a href="/templates/services/services.html">Услуги</a>
                <a href="/templates/about_us/aboutus.html">За нас</a>
                <a href="/templates/team/ourteam.html">Нашият екип</a>
                <a href="/templates/contacts/contacts.html">Контакти</a>
                <a href="/templates/clients/clientsforus.html">Клиентите за Нас</a>
            </div>
        </div>
        <div class="homepage-front-picture">
            <img src="/static/images/business_meeting.png" alt="">
        </div>
    </section>
    <script src="/static/scripts/opendropdownmenu.js"></script>
    <script src="/static/scripts/closedropdownmenu.js"></script>
<!-- {% endblock %} -->
</body>
</html>